<div class="container mt-5">
  <h5>Ask your coach anything:</h5>
  <form action="\answer" data-turbo="false" class="form-inline">
    <div class="form-group d-flex align-items-center">
      <input type="text" name="question" class="w-50">
      <input type="submit" value="Ask!" class="btn btn-sm btn-primary">
    </div>
  </form>
</div>
